/* * {
  box-sizing: border-box;
} */

.body {
  background-color: rgb(255, 255, 255);
}

.home {
  margin-top: 0px;
  width: 100%;
}

.corpus {
  margin-top: 10px;
}

.navbar {
  height: 60px;
  background-color: rgb(0, 136, 255);
  border-radius: 0px;
}

.column-of-avatars {
  max-height: 500px;
  margin-right: 10px;
  border-style: inset;
  border: black;
}
.eq-avatar:hover,
.eq-grid:hover {
  transform: scale(1.02);
  transition: transform 350ms;
}

#banner-info {
  height: 150px;
}
.img-banner {
  max-height: 225px;
}

.eq-avatar {
  max-height: 125px;
  margin-right: 10px;
}
.eq-details {
}

.eq-card-img {
  max-height: 200px;
}

.eq-grid-img {
  max-height: 75px;
}

.eq-grid {
  text-align: center;
}

.row-of-avatars {
  /* display: flex;
  overflow-x: scroll;
  padding: 15px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.components {
  border-color: rgba(10, 55, 169, 0.077);
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
  margin: 5px;
  padding-right: 0px;
}

#rows-display {
  /* margin-top: 5px; */
}

.row-of-cards::-webkit-scrollbar,
.row-of-avatars::-webkit-scrollbar {
  display: none;
}

.form {
  text-align: left;
  max-width: 200px;
}
