.home-card {
  /* width: 50%; */
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#text-box {
  height: 150px;
}
.column-of-avatars {
  max-height: 500px;
  margin-right: 10px;
  border-style: inset;
  border: black;
}
.eq-avatar:hover,
.eq-grid:hover {
  transform: scale(1.02);
  transition: transform 350ms;
}

.fix {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.eq-avatar {
  max-height: 125px;
  margin-right: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-of-avatars {
  display: grid;
  text-align: center;
  justify-self: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.form {
  margin-left: auto;
  text-align: left;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* .align-right {
  text-align: right;
} */

.centered {
  /* background-color: chartreuse; */
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.rolls-grid {
  margin-top: 50px;
  /* background-color: darkblue; */
}

.top {
  /* background-color: darkorange; */
}
